

body {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    
}

.main-grid > * {
    display: flex;
    border: 0.1px solid black;
    flex-direction: column; 
    background-color: white;   
    height: 35px;
    width: 35px;;
}

